1/
2/
3/
4/
UmamusumeKR-Resemara.zip/
__pycache__/
.qt_for_python/
platform-tools/
test.png
result.png
2. run main 1.bat
2. run main 2.bat
2. run main 3.bat
2. run main 4.bat
2. run main 5.bat
2. run main 6.bat
2. run main 7.bat
2. run main 8.bat
Instances.txt
ChromeDriver/
Saved_Data/